[submodule "src/uWebSockets.js"]
	path = src/uWebSockets.js
	url = https://github.com/uNetworking/uWebSockets.js.git
[submodule "deps/boringssl"]
	path = deps/boringssl
	url = https://github.com/google/boringssl.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
